body{
	
	width: 500px;
	height: 500px;
	margin: 0 auto;
	font-family: 'Nanum Gothic', sans-serif;
}

table{
	width : 100%;
	border-collapse : collapse;
	font-size: 12px;
	line-height: 24px;	
}

table td,th{
	border : #d3d3d3 solid 1px;
	padding: 5px;
}
th {
	background: #f3f4f9 !important;
}
