body {
	margin: 40px 10px;
	padding: 0;
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-size: 14px;
}

#calendar {
	
	max-width: 1500px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom:10px;
	padding-top: 10px;
	background-color: white;
}

.fc-sun {
	color: #e31b23
}

.fc-sat {
	color: #007dc3
}
#main_lnb img {
	position: absolute;
}