<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.MemoDao">

	<insert id="insertMemo" parameterType="map">
	
		insert into memo(content,empNo)
		values(#{content},#{empNo})
	
	</insert>
	
	<delete id="deleteMemo" parameterType="map">
	
		delete from memo
		where memoNo = #{memoNo} and empNo = #{empNo}
	
	</delete>
	<update id="updateMemo" parameterType="map">
	
		update memo
		set content = #{content}
		where memoNo = #{memoNo} and empNo =#{empNo}
	
	</update>
	
	
	<select id="selectOneMemo" resultType="map" parameterType="map">
	
	select * from memo where memoNo = #{memoNo} and empNo =#{empNo}
	
	</select>
	
	<select id="selectAllMemo" resultType="map" parameterType="string"> 
	 
	select * from memo 
	where empNo = #{empNo}
	order by memoNo desc
	
	</select>
	
	
	

</mapper>


